[submodule "parsehelp"]
	path = parsehelp
	url = https://github.com/quarnster/parsehelp.git
[submodule "sublimecompletioncommon"]
	path = sublimecompletioncommon
	url = https://github.com/nlloyd/SublimeCompletionCommon.git
